<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.rentit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RentIt"
        tools:targetApi="31">
        <activity
            android:name=".Favourite"
            android:exported="false" />
        <activity
            android:name=".UesrChartActivity"
            android:exported="false" />
        <activity
            android:name=".ChartActivity"
            android:exported="false" />
        <activity
            android:name=".CarInfo2"
            android:exported="false" />
        <activity
            android:name=".carInfo1"
            android:exported="false" />
        <activity
            android:name=".PayMentPage"
            android:exported="false" />
        <activity
            android:name=".AccountPage"
            android:exported="false" />
        <activity
            android:name=".CartPage"
            android:exported="false" />
        <activity
            android:name=".HouseInfo5"
            android:exported="false" />
        <activity
            android:name=".HouseInfo4"
            android:exported="false" />
        <activity
            android:name=".HouseInfo3"
            android:exported="false" />
        <activity
            android:name=".HouseInfo2"
            android:exported="false" />
        <activity
            android:name=".HouseInfo1"
            android:exported="false" />
        <activity
            android:name=".SearchItemPage"
            android:exported="false" />
        <activity
            android:name=".SportsRvContainer"
            android:exported="false" />
        <activity
            android:name=".ClothRvContiner"
            android:exported="false" />
        <activity
            android:name=".SpeakerRvContainer"
            android:exported="false" />
        <activity
            android:name=".CameraDetailsPage"
            android:exported="false" />
        <activity
            android:name=".BikeRvContainer"
            android:exported="false" />
        <activity
            android:name=".carRvContainer"
            android:exported="false" />
        <activity
            android:name=".displayContentPage"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordPage"
            android:exported="false" />
        <activity
            android:name=".ChartMainPage"
            android:exported="false" />
        <activity
            android:name=".signUpPage"
            android:exported="false" />
        <activity
            android:name=".loginPage"
            android:exported="false" />
        <activity
            android:name=".welcomePage"
            android:exported="true">
            <tools:validation testUrl="http://schemas.android.com" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="schemas.android.com"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>